---
import '../styles/roadmap3d.css';
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="author" content="Eduard-o" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="generator" content="{Astro.generator}" />
        <script is:inline src="//cdn.jsdelivr.net/npm/three/build/three.js"></script>
        <script is:inline src="//cdn.jsdelivr.net/npm/three-spritetext/dist/three-spritetext.js"></script>
        <script is:inline src="//cdn.jsdelivr.net/npm/three/examples/js/postprocessing/Pass.js"></script>
        <script is:inline src="//cdn.jsdelivr.net/npm/three/examples/js/shaders/CopyShader.js"></script>
        <script is:inline src="//cdn.jsdelivr.net/npm/three/examples/js/shaders/LuminosityHighPassShader.js"></script>
        <script is:inline src="//cdn.jsdelivr.net/npm/three/examples/js/postprocessing/UnrealBloomPass.js"></script>
        <script is:inline src="//cdn.jsdelivr.net/npm/3d-force-graph/dist/3d-force-graph.min.js"></script>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Roadmap</title>
    </head>
    <body>
        <div id="graph"></div>
        <script>
            fetch('/playvorath.com/roadmap.json')
                .then((res) => res.json())
                .then((data) => {
                    const NODE_SIZE = 1;
                    const Graph = ForceGraph3D()(document.getElementById('graph'))
                        .graphData(data)
                        .nodeId('id')
                        .nodeLabel((node) => {
                            let text = '<span class="title">' + node.id + '</span';
                            if (node.type != undefined) {
                                text += ' <span class="type">[' + node.type + ']</span>';
                            }
                            if (node.tooltip != undefined) {
                                text += '<br>' + node.tooltip;
                            }
                            if (node.url != undefined) {
                                text += '<br><span class="dim">[click to open: ' + node.url + ']</span>';
                            }
                            text = '<div class="tooltip">' + text + '</div>';
                            return text;
                        })
                        .nodeAutoColorBy('group');
                });
        </script>
    </body>
</html>
